<div>
    © Copyright 2017-2025, Tango Community,
    under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International (CC BY 4.0)</a>,
    except where otherwise noted.
</div>
