<div class="admonition warning">
    <p class="admonition-title">Warning</p>
    <p>We have started to update the Tango Controls documentation for Tango 10.x in 11/2024. Currently this documentation is work in progress!</p>
    <a href="https://tango-controls.readthedocs.io/">If you would like to visit the documentation for Tango Controls versions < 10.x, then please click this link. We will take you there in a jiffy.</a>
</div>
